openapi: 3.0.3
info:
  title: Fingerprint Server API
  description: >
    Fingerprint Server API allows you to search, update, and delete
    identification events in a server environment. It can be used for data
    exports, decision-making, and data analysis scenarios.

    Server API is intended for server-side usage, it's not intended to be used
    from the client side, whether it's a browser or a mobile device.
  version: '3'
  contact:
    name: Fingerprint Support
    email: support@fingerprint.com
tags:
  - name: Fingerprint
    description: >-
      Using the Server API you can retrieve information about individual
      analysis events or event history of individual visitors.
    externalDocs:
      description: API documentation
      url: https://dev.fingerprint.com/reference/pro-server-api
servers:
  - url: https://api.fpjs.io
    description: Global
  - url: https://eu.api.fpjs.io
    description: EU
  - url: https://ap.api.fpjs.io
    description: Asia (Mumbai)
security:
  - ApiKeyHeader: []
  - ApiKeyQuery: []
paths:
  /events/{request_id}:
    get:
      tags:
        - Fingerprint
      operationId: getEvent
      summary: Get event by request ID
      description: >
        Get a detailed analysis of an individual identification event, including
        Smart Signals. 

        Please note that the response includes mobile signals (e.g. `rootApps`)
        even if the request originated from a non-mobile platform.

        It is highly recommended that you **ignore** the mobile signals for such
        requests. 


        Use `requestId` as the URL path parameter. This API method is scoped to
        a request, i.e. all returned information is by `requestId`.
      parameters:
        - name: request_id
          in: path
          required: true
          schema:
            type: string
          description: >-
            The unique
            [identifier](https://dev.fingerprint.com/reference/get-function#requestid)
            of each identification request.
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventsGetResponse'
              examples:
                200-full:
                  summary: Example response
                  value:
                    products:
                      identification:
                        data:
                          visitorId: Ibk1527CUFmcnjLwIs4A9
                          requestId: 1708102555327.NLOjmg
                          incognito: true
                          linkedId: somelinkedId
                          tag: {}
                          time: '2019-05-21T16:40:13Z'
                          timestamp: 1582299576512
                          url: https://www.example.com/login?hope{this{works[!
                          ip: 61.127.217.15
                          ipLocation:
                            accuracyRadius: 10
                            latitude: 49.982
                            longitude: 36.2566
                            postalCode: '61202'
                            timezone: Europe/Dusseldorf
                            city:
                              name: Dusseldorf
                            country:
                              code: DE
                              name: Germany
                            continent:
                              code: EU
                              name: Europe
                            subdivisions:
                              - isoCode: '63'
                                name: North Rhine-Westphalia
                          browserDetails:
                            browserName: Chrome
                            browserMajorVersion: '74'
                            browserFullVersion: 74.0.3729
                            os: Windows
                            osVersion: '7'
                            device: Other
                            userAgent: Mozilla/5.0 (Windows NT 6.1; Win64; x64) ....
                          confidence:
                            score: 0.97
                          visitorFound: false
                          firstSeenAt:
                            global: '2022-03-16T11:26:45.362Z'
                            subscription: '2022-03-16T11:31:01.101Z'
                          lastSeenAt:
                            global: null
                            subscription: null
                      botd:
                        data:
                          bot:
                            result: notDetected
                          url: https://www.example.com/login?hope{this{works}[!
                          ip: 61.127.217.15
                          time: '2019-05-21T16:40:13Z'
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/120.0.0.0 YaBrowser/24.1.0.0 Safari/537.36
                          requestId: 1708102555327.NLOjmg
                      rootApps:
                        data:
                          result: false
                      emulator:
                        data:
                          result: false
                      ipInfo:
                        data:
                          v4:
                            address: 94.142.239.124
                            geolocation:
                              accuracyRadius: 20
                              latitude: 50.05
                              longitude: 14.4
                              postalCode: 150 00
                              timezone: Europe/Prague
                              city:
                                name: Prague
                              country:
                                code: CZ
                                name: Czechia
                              continent:
                                code: EU
                                name: Europe
                              subdivisions:
                                - isoCode: '10'
                                  name: Hlavni mesto Praha
                            asn:
                              asn: '7922'
                              name: COMCAST-7922
                              network: 73.136.0.0/13
                            datacenter:
                              result: true
                              name: DediPath
                          v6:
                            address: 2001:db8:3333:4444:5555:6666:7777:8888
                            geolocation:
                              accuracyRadius: 5
                              latitude: 49.982
                              longitude: 36.2566
                              postalCode: '10112'
                              timezone: Europe/Berlin
                              city:
                                name: Berlin
                              country:
                                code: DE
                                name: Germany
                              continent:
                                code: EU
                                name: Europe
                              subdivisions:
                                - isoCode: BE
                                  name: Land Berlin
                            asn:
                              asn: '6805'
                              name: Telefonica Germany
                              network: 2a02:3100::/24
                            datacenter:
                              result: false
                              name: ''
                      ipBlocklist:
                        data:
                          result: false
                          details:
                            emailSpam: false
                            attackSource: false
                      tor:
                        data:
                          result: false
                      vpn:
                        data:
                          result: false
                          confidence: high
                          originTimezone: Europe/Berlin
                          originCountry: unknown
                          methods:
                            timezoneMismatch: false
                            publicVPN: false
                            auxiliaryMobile: false
                            osMismatch: false
                            relay: false
                      proxy:
                        data:
                          result: false
                          confidence: high
                      incognito:
                        data:
                          result: false
                      tampering:
                        data:
                          result: false
                          anomalyScore: 0.1955
                          antiDetectBrowser: false
                      clonedApp:
                        data:
                          result: false
                      factoryReset:
                        data:
                          time: '1970-01-01T00:00:00Z'
                          timestamp: 0
                      jailbroken:
                        data:
                          result: false
                      frida:
                        data:
                          result: false
                      privacySettings:
                        data:
                          result: false
                      virtualMachine:
                        data:
                          result: false
                      rawDeviceAttributes:
                        data:
                          architecture:
                            value: 127
                          audio:
                            value: 35.73832903057337
                          canvas:
                            value:
                              Winding: true
                              Geometry: 4dce9d6017c3e0c052a77252f29f2b1c
                              Text: dd2474a56ff78c1de3e7a07070ba3b7d
                          colorDepth:
                            value: 30
                          colorGamut:
                            value: p3
                          contrast:
                            value: 0
                          cookiesEnabled:
                            value: true
                          cpuClass: {}
                          fonts:
                            value:
                              - Arial Unicode MS
                              - Gill Sans
                              - Helvetica Neue
                              - Menlo
                      highActivity:
                        data:
                          result: false
                      locationSpoofing:
                        data:
                          result: false
                      remoteControl:
                        data:
                          result: false
                      velocity:
                        data:
                          distinctIp:
                            intervals:
                              5m: 1
                              1h: 1
                              24h: 1
                          distinctLinkedId: {}
                          distinctCountry:
                            intervals:
                              5m: 1
                              1h: 2
                              24h: 2
                          events:
                            intervals:
                              5m: 1
                              1h: 5
                              24h: 5
                          ipEvents:
                            intervals:
                              5m: 1
                              1h: 5
                              24h: 5
                          distinctIpByLinkedId:
                            intervals:
                              5m: 1
                              1h: 5
                              24h: 5
                          distinctVisitorIdByLinkedId:
                            intervals:
                              5m: 1
                              1h: 5
                              24h: 5
                      developerTools:
                        data:
                          result: false
                      mitmAttack:
                        data:
                          result: false
                200-all-errors:
                  summary: All failed signals
                  value:
                    products:
                      identification:
                        error:
                          code: Failed
                          message: internal server error
                      botd:
                        error:
                          code: Failed
                          message: internal server error
                      ipInfo:
                        error:
                          code: Failed
                          message: internal server error
                      incognito:
                        error:
                          code: Failed
                          message: internal server error
                      rootApps:
                        error:
                          code: Failed
                          message: internal server error
                      clonedApp:
                        error:
                          code: Failed
                          message: internal server error
                      factoryReset:
                        error:
                          code: Failed
                          message: internal server error
                      jailbroken:
                        error:
                          code: Failed
                          message: internal server error
                      frida:
                        error:
                          code: Failed
                          message: internal server error
                      emulator:
                        error:
                          code: Failed
                          message: internal server error
                      ipBlocklist:
                        error:
                          code: Failed
                          message: internal server error
                      tor:
                        error:
                          code: Failed
                          message: internal server error
                      vpn:
                        error:
                          code: Failed
                          message: internal server error
                      proxy:
                        error:
                          code: Failed
                          message: internal server error
                      privacySettings:
                        error:
                          code: Failed
                          message: internal server error
                      virtualMachine:
                        error:
                          code: Failed
                          message: internal server error
                      tampering:
                        error:
                          code: Failed
                          message: internal server error
                      rawDeviceAttributes:
                        data:
                          audio:
                            error:
                              name: Error
                              message: internal server error
                          canvas:
                            error:
                              name: Error
                              message: internal server error
                      locationSpoofing:
                        error:
                          code: Failed
                          message: internal server error
                      highActivity:
                        error:
                          code: Failed
                          message: internal server error
                      suspectScore:
                        error:
                          code: Failed
                          message: internal server error
                      remoteControl:
                        error:
                          code: Failed
                          message: internal server error
                      velocity:
                        error:
                          code: Failed
                          message: internal server error
                      developerTools:
                        error:
                          code: Failed
                          message: internal server error
                      mitmAttack:
                        error:
                          code: Failed
                          message: internal server error
                200-identification-error:
                  summary: Identification error
                  value:
                    products:
                      identification:
                        error:
                          code: Failed
                          message: internal server error
                      botd:
                        data:
                          bot:
                            result: bad
                            type: headlessChrome
                          url: https://example.com/login
                          ip: 94.60.143.223
                          time: '2024-02-23T10:20:25.287Z'
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            HeadlessChrome/121.0.6167.57 Safari/537.36
                          requestId: 1708683625245.tuJ4nD
                200-botd-error:
                  summary: BotD error
                  value:
                    products:
                      identification:
                        data:
                          visitorId: Ibk1527CUFmcnjLwIs4A9
                          requestId: 0KSh65EnVoB85JBmloQK
                          incognito: true
                          linkedId: somelinkedId
                          time: '2019-05-21T16:40:13Z'
                          tag: {}
                          timestamp: 1582299576512
                          url: https://www.example.com/login
                          ip: 61.127.217.15
                          ipLocation:
                            accuracyRadius: 10
                            latitude: 49.982
                            longitude: 36.2566
                            postalCode: '61202'
                            timezone: Europe/Dusseldorf
                            city:
                              name: Dusseldorf
                            continent:
                              code: EU
                              name: Europe
                            country:
                              code: DE
                              name: Germany
                            subdivisions:
                              - isoCode: '63'
                                name: North Rhine-Westphalia
                          browserDetails:
                            browserName: Chrome
                            browserMajorVersion: '74'
                            browserFullVersion: 74.0.3729
                            os: Windows
                            osVersion: '7'
                            device: Other
                            userAgent: Mozilla/5.0 (Windows NT 6.1; Win64; x64) ....
                          confidence:
                            score: 0.97
                          visitorFound: true
                          firstSeenAt:
                            global: '2022-03-16T11:26:45.362Z'
                            subscription: '2022-03-16T11:31:01.101Z'
                          lastSeenAt:
                            global: '2022-03-16T11:28:34.023Z'
                            subscription: null
                      botd:
                        error:
                          code: Failed
                          message: internal server error
                200-too-many-requests-error:
                  summary: Too many requests error
                  value:
                    products:
                      identification:
                        error:
                          code: 429 Too Many Requests
                          message: too many requests
                      botd:
                        error:
                          code: TooManyRequests
                          message: too many requests
        '403':
          description: Forbidden. Access to this API is denied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                403-token-required:
                  summary: Error response when the secret API key was not provided.
                  value:
                    error:
                      code: TokenRequired
                      message: secret key is required
                403-token-not-found:
                  summary: >-
                    Error response when the provided secret API key does not
                    exist.
                  value:
                    error:
                      code: TokenNotFound
                      message: secret key is not found
                403-wrong-region:
                  summary: >-
                    Error response when the API region is different from the
                    region, the calling application is configured with.
                  value:
                    error:
                      code: WrongRegion
                      message: wrong region
        '404':
          description: >-
            Not found. The request ID cannot be found in this application's
            data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                404-request-not-found:
                  summary: Error response when the provided request ID does not exist.
                  value:
                    error:
                      code: RequestNotFound
                      message: request id is not found
    put:
      tags:
        - Fingerprint
      operationId: updateEvent
      summary: Update an event with a given request ID
      description: >
        Change information in existing events specified by `requestId` or *flag
        suspicious events*.


        When an event is created, it is assigned `linkedId` and `tag` submitted
        through the JS agent parameters. This information might not be available
        on the client so the Server API allows for updating the attributes after
        the fact.


        **Warning** It's not possible to update events older than 10 days.
      parameters:
        - name: request_id
          in: path
          required: true
          schema:
            type: string
          description: >-
            The unique event
            [identifier](https://dev.fingerprint.com/reference/get-function#requestid).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventsUpdateRequest'
      responses:
        '200':
          description: OK.
        '400':
          description: Bad request. The request payload is not valid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  summary: >-
                    Error response when the specified request payload is not
                    valid and cannot be parsed.
                  value:
                    error:
                      code: RequestCannotBeParsed
                      message: request body is not valid
        '403':
          description: Forbidden. Access to this API is denied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                403-token-required:
                  summary: Error response when the secret API key was not provided.
                  value:
                    error:
                      code: TokenRequired
                      message: secret key is required
                403-token-not-found:
                  summary: >-
                    Error response when the provided secret API key does not
                    exist.
                  value:
                    error:
                      code: TokenNotFound
                      message: secret key is not found
                403-wrong-region:
                  summary: >-
                    Error response when the API region is different from the
                    region, the calling application is configured with.
                  value:
                    error:
                      code: WrongRegion
                      message: wrong region
        '404':
          description: >-
            Not found. The request ID cannot be found in this application's
            data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                404-request-not-found:
                  summary: Error response when the provided request ID does not exist.
                  value:
                    error:
                      code: RequestNotFound
                      message: request id is not found
        '409':
          description: Conflict. The event is not mutable yet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                example:
                  summary: Error response when the event is not mutable yet.
                  value:
                    error:
                      code: StateNotReady
                      message: resource is not mutable yet, try again
  /events/search:
    get:
      tags:
        - Fingerprint
      operationId: searchEvents
      summary: Get events via search
      description: >
        Search for identification events, including Smart Signals, using
        multiple filtering criteria. If you don't provide `start` or `end`
        parameters, the default search range is the last 7 days.


        Please note that events include mobile signals (e.g. `rootApps`) even if
        the request originated from a non-mobile platform. We recommend you
        **ignore** mobile signals for such requests.
      parameters:
        - name: limit
          in: query
          required: true
          schema:
            type: integer
            format: int32
            minimum: 1
            example: 10
          description: |
            Limit the number of events returned.
        - name: pagination_key
          in: query
          schema:
            type: string
          description: >
            Use `pagination_key` to get the next page of results. 


            When more results are available (e.g., you requested up to 200
            results for your search using `limit`, but there are more than 200
            events total matching your request), the `paginationKey` top-level
            attribute is added to the response. The key corresponds to the
            `timestamp` of the last returned event. In the following request,
            use that value in the `pagination_key` parameter to get the next
            page of results:


            1. First request, returning most recent 200 events: `GET
            api-base-url/events/search?limit=200`

            2. Use `response.paginationKey` to get the next page of results:
            `GET
            api-base-url/events/search?limit=200&pagination_key=1740815825085`
        - name: visitor_id
          in: query
          schema:
            type: string
          description: >
            Unique [visitor
            identifier](https://dev.fingerprint.com/reference/get-function#visitorid)
            issued by Fingerprint Pro.

            Filter for events matching this `visitor_id`.
        - name: bot
          in: query
          schema:
            type: string
            enum:
              - all
              - good
              - bad
              - none
          description: >
            Filter events by the Bot Detection result, specifically: 
              `all` - events where any kind of bot was detected.
              `good` - events where a good bot was detected.
              `bad` - events where a bad bot was detected.
              `none` - events where no bot was detected.
            > Note: When using this parameter, only events with the
            `products.botd.data.bot.result` property set to a valid value are
            returned. Events without a `products.botd` Smart Signal result are
            left out of the response.
        - name: ip_address
          in: query
          schema:
            type: string
          description: >
            Filter events by IP address range. The range can be as specific as a
            single IP (/32 for IPv4 or /128 for IPv6) 

            All ip_address filters must use CIDR notation, for example,
            10.0.0.0/24, 192.168.0.1/32
        - name: linked_id
          in: query
          schema:
            type: string
          description: >
            Filter events by your custom identifier. 


            You can use [linked
            IDs](https://dev.fingerprint.com/reference/get-function#linkedid) to
            associate identification requests with your own identifier, for
            example, session ID, purchase ID, or transaction ID. You can then
            use this `linked_id` parameter to retrieve all events associated
            with your custom identifier.
        - name: start
          in: query
          schema:
            type: integer
            format: int64
          description: >
            Filter events with a timestamp greater than the start time, in Unix
            time (milliseconds).
        - name: end
          in: query
          schema:
            type: integer
            format: int64
          description: >
            Filter events with a timestamp smaller than the end time, in Unix
            time (milliseconds).
        - name: reverse
          in: query
          schema:
            type: boolean
          description: |
            Sort events in reverse timestamp order.
        - name: suspect
          in: query
          schema:
            type: boolean
          description: >
            Filter events previously tagged as suspicious via the [Update
            API](https://dev.fingerprint.com/reference/updateevent). 

            > Note: When using this parameter, only events with the `suspect`
            property explicitly set to `true` or `false` are returned. Events
            with undefined `suspect` property are left out of the response.
        - name: vpn
          in: query
          schema:
            type: boolean
          description: >
            Filter events by VPN Detection result.  

            > Note: When using this parameter, only events with the
            `products.vpn.data.result` property set to `true` or `false` are
            returned. Events without a `products.vpn` Smart Signal result are
            left out of the response.
        - name: virtual_machine
          in: query
          schema:
            type: boolean
          description: >
            Filter events by Virtual Machine Detection result.  

            > Note: When using this parameter, only events with the
            `products.virtualMachine.data.result` property set to `true` or
            `false` are returned. Events without a `products.virtualMachine`
            Smart Signal result are left out of the response.
        - name: tampering
          in: query
          schema:
            type: boolean
          description: >
            Filter events by Tampering Detection result.  

            > Note: When using this parameter, only events with the
            `products.tampering.data.result` property set to `true` or `false`
            are returned. Events without a `products.tampering` Smart Signal
            result are left out of the response.
        - name: anti_detect_browser
          in: query
          schema:
            type: boolean
          description: >
            Filter events by Anti-detect Browser Detection result.  

            > Note: When using this parameter, only events with the
            `products.tampering.data.antiDetectBrowser` property set to `true`
            or `false` are returned. Events without a `products.tampering` Smart
            Signal result are left out of the response.
        - name: incognito
          in: query
          schema:
            type: boolean
          description: >
            Filter events by Browser Incognito Detection result.  

            > Note: When using this parameter, only events with the
            `products.incognito.data.result` property set to `true` or `false`
            are returned. Events without a `products.incognito` Smart Signal
            result are left out of the response.
        - name: privacy_settings
          in: query
          schema:
            type: boolean
          description: >
            Filter events by Privacy Settings Detection result.  

            > Note: When using this parameter, only events with the
            `products.privacySettings.data.result` property set to `true` or
            `false` are returned. Events without a `products.privacySettings`
            Smart Signal result are left out of the response.
        - name: jailbroken
          in: query
          schema:
            type: boolean
          description: >
            Filter events by Jailbroken Device Detection result.  

            > Note: When using this parameter, only events with the
            `products.jailbroken.data.result` property set to `true` or `false`
            are returned. Events without a `products.jailbroken` Smart Signal
            result are left out of the response.
        - name: frida
          in: query
          schema:
            type: boolean
          description: >
            Filter events by Frida Detection result.  

            > Note: When using this parameter, only events with the
            `products.frida.data.result` property set to `true` or `false` are
            returned. Events without a `products.frida` Smart Signal result are
            left out of the response.
        - name: factory_reset
          in: query
          schema:
            type: boolean
          description: >
            Filter events by Factory Reset Detection result.  

            > Note: When using this parameter, only events with the
            `products.factoryReset.data.result` property set to `true` or
            `false` are returned. Events without a `products.factoryReset` Smart
            Signal result are left out of the response.
        - name: cloned_app
          in: query
          schema:
            type: boolean
          description: >
            Filter events by Cloned App Detection result.  

            > Note: When using this parameter, only events with the
            `products.clonedApp.data.result` property set to `true` or `false`
            are returned. Events without a `products.clonedApp` Smart Signal
            result are left out of the response.
        - name: emulator
          in: query
          schema:
            type: boolean
          description: >
            Filter events by Android Emulator Detection result.  

            > Note: When using this parameter, only events with the
            `products.emulator.data.result` property set to `true` or `false`
            are returned. Events without a `products.emulator` Smart Signal
            result are left out of the response.
        - name: root_apps
          in: query
          schema:
            type: boolean
          description: >
            Filter events by Rooted Device Detection result.  

            > Note: When using this parameter, only events with the
            `products.rootApps.data.result` property set to `true` or `false`
            are returned. Events without a `products.rootApps` Smart Signal
            result are left out of the response.
        - name: vpn_confidence
          in: query
          schema:
            type: string
            enum:
              - high
              - medium
              - low
          description: >
            Filter events by VPN Detection result confidence level.  

            `high` - events with high VPN Detection confidence.

            `medium` - events with medium VPN Detection confidence.

            `low` - events with low VPN Detection confidence.

            > Note: When using this parameter, only events with the
            `products.vpn.data.confidence` property set to a valid value are
            returned. Events without a `products.vpn` Smart Signal result are
            left out of the response.
        - name: min_suspect_score
          in: query
          schema:
            type: number
            format: float
          description: >
            Filter events with Suspect Score result above a provided minimum
            threshold.

            > Note: When using this parameter, only events where the
            `products.suspectScore.data.result` property set to a value
            exceeding your threshold are returned. Events without a
            `products.suspectScore` Smart Signal result are left out of the
            response.
        - name: ip_blocklist
          in: query
          schema:
            type: boolean
          description: >
            Filter events by IP Blocklist Detection result.  

            > Note: When using this parameter, only events with the
            `products.ipBlocklist.data.result` property set to `true` or `false`
            are returned. Events without a `products.ipBlocklist` Smart Signal
            result are left out of the response.
        - name: datacenter
          in: query
          schema:
            type: boolean
          description: >
            Filter events by Datacenter Detection result.  

            > Note: When using this parameter, only events with the
            `products.ipInfo.data.v4.datacenter.result` or
            `products.ipInfo.data.v6.datacenter.result` property set to `true`
            or `false` are returned. Events without a `products.ipInfo` Smart
            Signal result are left out of the response.
      responses:
        '200':
          description: Events matching the filter(s).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchEventsResponse'
              examples:
                200-full:
                  summary: Example search results
                  value:
                    events:
                      - products:
                          identification:
                            data:
                              visitorId: Ibk1527CUFmcnjLwIs4A9
                              requestId: 1708102555327.NLOjmg
                              incognito: true
                              linkedId: somelinkedId
                              tag: {}
                              time: '2019-05-21T16:40:13Z'
                              timestamp: 1582299576512
                              url: https://www.example.com/login?hope{this{works[!
                              ip: 61.127.217.15
                              ipLocation:
                                accuracyRadius: 10
                                latitude: 49.982
                                longitude: 36.2566
                                postalCode: '61202'
                                timezone: Europe/Dusseldorf
                                city:
                                  name: Dusseldorf
                                country:
                                  code: DE
                                  name: Germany
                                continent:
                                  code: EU
                                  name: Europe
                                subdivisions:
                                  - isoCode: '63'
                                    name: North Rhine-Westphalia
                              browserDetails:
                                browserName: Chrome
                                browserMajorVersion: '74'
                                browserFullVersion: 74.0.3729
                                os: Windows
                                osVersion: '7'
                                device: Other
                                userAgent: Mozilla/5.0 (Windows NT 6.1; Win64; x64) ....
                              confidence:
                                score: 0.97
                              visitorFound: false
                              firstSeenAt:
                                global: '2022-03-16T11:26:45.362Z'
                                subscription: '2022-03-16T11:31:01.101Z'
                              lastSeenAt:
                                global: null
                                subscription: null
                          botd:
                            data:
                              bot:
                                result: notDetected
                              url: https://www.example.com/login?hope{this{works}[!
                              ip: 61.127.217.15
                              time: '2019-05-21T16:40:13Z'
                              userAgent: >-
                                Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                                AppleWebKit/537.36 (KHTML, like Gecko)
                                Chrome/120.0.0.0 YaBrowser/24.1.0.0
                                Safari/537.36
                              requestId: 1708102555327.NLOjmg
                          rootApps:
                            data:
                              result: false
                          emulator:
                            data:
                              result: false
                          ipInfo:
                            data:
                              v4:
                                address: 94.142.239.124
                                geolocation:
                                  accuracyRadius: 20
                                  latitude: 50.05
                                  longitude: 14.4
                                  postalCode: 150 00
                                  timezone: Europe/Prague
                                  city:
                                    name: Prague
                                  country:
                                    code: CZ
                                    name: Czechia
                                  continent:
                                    code: EU
                                    name: Europe
                                  subdivisions:
                                    - isoCode: '10'
                                      name: Hlavni mesto Praha
                                asn:
                                  asn: '7922'
                                  name: COMCAST-7922
                                  network: 73.136.0.0/13
                                datacenter:
                                  result: true
                                  name: DediPath
                              v6:
                                address: 2001:db8:3333:4444:5555:6666:7777:8888
                                geolocation:
                                  accuracyRadius: 5
                                  latitude: 49.982
                                  longitude: 36.2566
                                  postalCode: '10112'
                                  timezone: Europe/Berlin
                                  city:
                                    name: Berlin
                                  country:
                                    code: DE
                                    name: Germany
                                  continent:
                                    code: EU
                                    name: Europe
                                  subdivisions:
                                    - isoCode: BE
                                      name: Land Berlin
                                asn:
                                  asn: '6805'
                                  name: Telefonica Germany
                                  network: 2a02:3100::/24
                                datacenter:
                                  result: false
                                  name: ''
                          ipBlocklist:
                            data:
                              result: false
                              details:
                                emailSpam: false
                                attackSource: false
                          tor:
                            data:
                              result: false
                          vpn:
                            data:
                              result: false
                              confidence: high
                              originTimezone: Europe/Berlin
                              originCountry: unknown
                              methods:
                                timezoneMismatch: false
                                publicVPN: false
                                auxiliaryMobile: false
                                osMismatch: false
                                relay: false
                          proxy:
                            data:
                              result: false
                              confidence: high
                          incognito:
                            data:
                              result: false
                          tampering:
                            data:
                              result: false
                              anomalyScore: 0.1955
                              antiDetectBrowser: false
                          clonedApp:
                            data:
                              result: false
                          factoryReset:
                            data:
                              time: '1970-01-01T00:00:00Z'
                              timestamp: 0
                          jailbroken:
                            data:
                              result: false
                          frida:
                            data:
                              result: false
                          privacySettings:
                            data:
                              result: false
                          virtualMachine:
                            data:
                              result: false
                          rawDeviceAttributes:
                            data:
                              architecture:
                                value: 127
                              audio:
                                value: 35.73832903057337
                              canvas:
                                value:
                                  Winding: true
                                  Geometry: 4dce9d6017c3e0c052a77252f29f2b1c
                                  Text: dd2474a56ff78c1de3e7a07070ba3b7d
                              colorDepth:
                                value: 30
                              colorGamut:
                                value: p3
                              contrast:
                                value: 0
                              cookiesEnabled:
                                value: true
                              cpuClass: {}
                              fonts:
                                value:
                                  - Arial Unicode MS
                                  - Gill Sans
                                  - Helvetica Neue
                                  - Menlo
                          highActivity:
                            data:
                              result: false
                          locationSpoofing:
                            data:
                              result: false
                          remoteControl:
                            data:
                              result: false
                          velocity:
                            data:
                              distinctIp:
                                intervals:
                                  5m: 1
                                  1h: 1
                                  24h: 1
                              distinctLinkedId: {}
                              distinctCountry:
                                intervals:
                                  5m: 1
                                  1h: 2
                                  24h: 2
                              events:
                                intervals:
                                  5m: 1
                                  1h: 5
                                  24h: 5
                              ipEvents:
                                intervals:
                                  5m: 1
                                  1h: 5
                                  24h: 5
                              distinctIpByLinkedId:
                                intervals:
                                  5m: 1
                                  1h: 5
                                  24h: 5
                              distinctVisitorIdByLinkedId:
                                intervals:
                                  5m: 1
                                  1h: 5
                                  24h: 5
                          developerTools:
                            data:
                              result: false
                          mitmAttack:
                            data:
                              result: false
                    paginationKey: '1655373953086'
        '400':
          description: >-
            Bad request. One or more supplied search parameters are invalid, or
            a required parameter is missing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                400-limit-invalid:
                  summary: Error response when no limit is supplied, or is invalid.
                  value:
                    error:
                      code: RequestCannotBeParsed
                      message: invalid limit
                400-ip-address-invalid:
                  summary: >-
                    Error response when an invalid IP address is supplied, or is
                    not using CIDR notation.
                  value:
                    error:
                      code: RequestCannotBeParsed
                      message: invalid ip address
                400-bot-type-invalid:
                  summary: >-
                    Error response when an invalid bot type is specified, must
                    be one of `good`, `bad`, `all`, or `none`.
                  value:
                    error:
                      code: RequestCannotBeParsed
                      message: invalid bot type
                400-reverse-invalid:
                  summary: Error response when the reverse parameter is invalid.
                  value:
                    error:
                      code: RequestCannotBeParsed
                      message: invalid reverse param
                400-start-time-invalid:
                  summary: Error response when an invalid start time is supplied.
                  value:
                    error:
                      code: RequestCannotBeParsed
                      message: invalid start time
                400-end-time-invalid:
                  summary: Error response when an invalid end time is supplied.
                  value:
                    error:
                      code: RequestCannotBeParsed
                      message: invalid end time
                400-visitor-id-invalid:
                  summary: Error response when an invalid visitor ID is supplied.
                  value:
                    error:
                      code: RequestCannotBeParsed
                      message: invalid visitor id
                400-linked-id-invalid:
                  summary: >-
                    Error response when an invalid (too large) linked ID is
                    supplied.
                  value:
                    error:
                      code: RequestCannotBeParsed
                      message: linked_id can't be greater than 256 characters long
                400-pagination-key-invalid:
                  summary: Error response when an invalid pagination key is supplied.
                  value:
                    error:
                      code: RequestCannotBeParsed
                      message: invalid pagination key
        '403':
          description: Forbidden. Access to this API is denied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                403-token-required:
                  summary: Error response when the secret API key was not provided.
                  value:
                    error:
                      code: TokenRequired
                      message: secret key is required
                403-token-not-found:
                  summary: >-
                    Error response when the provided secret API key does not
                    exist.
                  value:
                    error:
                      code: TokenNotFound
                      message: secret key is not found
                403-wrong-region:
                  summary: >-
                    Error response when the API region does not match the region
                    of your Fingerprint workspace.
                  value:
                    error:
                      code: WrongRegion
                      message: wrong region
  /visitors/{visitor_id}:
    get:
      tags:
        - Fingerprint
      operationId: getVisits
      summary: Get visits by visitor ID
      description: >
        Get a history of visits (identification events) for a specific
        `visitorId`. Use the `visitorId` as a URL path parameter.

        Only information from the _Identification_ product is returned.


        #### Headers


        * `Retry-After` — Present in case of `429 Too many requests`. Indicates
        how long you should wait before making a follow-up request. The value is
        non-negative decimal integer indicating the seconds to delay after the
        response is received.
      x-flatten-optional-params: true
      parameters:
        - name: visitor_id
          in: path
          required: true
          schema:
            type: string
          description: >-
            Unique [visitor
            identifier](https://dev.fingerprint.com/reference/get-function#visitorid)
            issued by Fingerprint Pro.
        - name: request_id
          in: query
          schema:
            type: string
          description: >
            Filter visits by `requestId`. 


            Every identification request has a unique identifier associated with
            it called `requestId`. This identifier is returned to the client in
            the identification
            [result](https://dev.fingerprint.com/reference/get-function#requestid).
            When you filter visits by `requestId`, only one visit will be
            returned.
          x-go-skip-pointer: true
        - name: linked_id
          in: query
          schema:
            type: string
          description: >
            Filter visits by your custom identifier. 


            You can use
            [`linkedId`](https://dev.fingerprint.com/reference/get-function#linkedid)
            to associate identification requests with your own identifier, for
            example: session ID, purchase ID, or transaction ID. You can then
            use this `linked_id` parameter to retrieve all events associated
            with your custom identifier.
          x-go-skip-pointer: true
        - name: limit
          in: query
          schema:
            type: integer
            format: int32
            minimum: 0
          description: >
            Limit scanned results. 


            For performance reasons, the API first scans some number of events
            before filtering them. Use `limit` to specify how many events are
            scanned before they are filtered by `requestId` or `linkedId`.
            Results are always returned sorted by the timestamp (most recent
            first).

            By default, the most recent 100 visits are scanned, the maximum is
            500.
          x-go-skip-pointer: true
        - name: paginationKey
          in: query
          schema:
            type: string
          description: >
            Use `paginationKey` to get the next page of results. 


            When more results are available (e.g., you requested 200 results
            using `limit` parameter, but a total of 600 results are available),
            the `paginationKey` top-level attribute is added to the response.
            The key corresponds to the `requestId` of the last returned event.
            In the following request, use that value in the `paginationKey`
            parameter to get the next page of results:


            1. First request, returning most recent 200 events: `GET
            api-base-url/visitors/:visitorId?limit=200`

            2. Use `response.paginationKey` to get the next page of results:
            `GET
            api-base-url/visitors/:visitorId?limit=200&paginationKey=1683900801733.Ogvu1j`


            Pagination happens during scanning and before filtering, so you can
            get less visits than the `limit` you specified with more available
            on the next page. When there are no more results available for
            scanning, the `paginationKey` attribute is not returned.
          x-go-skip-pointer: true
        - name: before
          in: query
          deprecated: true
          schema:
            type: integer
            format: int64
            minimum: 0
          description: >
            ⚠️ Deprecated pagination method, please use `paginationKey` instead.
            Timestamp (in milliseconds since epoch) used to paginate results.
          x-go-skip-pointer: true
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisitorsGetResponse'
              examples:
                200-limit-1:
                  summary: Example response with limit=1
                  value:
                    visitorId: AcxioeQKffpXF8iGQK3P
                    visits:
                      - requestId: 1655373953086.DDlfmP
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '102'
                          browserFullVersion: 102.0.5005
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/102.0.5005.61 Safari/537.36
                        incognito: false
                        ip: 82.118.30.68
                        ipLocation:
                          accuracyRadius: 1000
                          latitude: 50.0805
                          longitude: 14.467
                          postalCode: 130 00
                          timezone: Europe/Prague
                          city:
                            name: Prague
                          country:
                            code: CZ
                            name: Czechia
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - isoCode: '10'
                              name: Hlavni mesto Praha
                        timestamp: 1655373953094
                        time: '2022-06-16T10:05:53Z'
                        url: https://dashboard.fingerprint.com/
                        tag: {}
                        confidence:
                          score: 1
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-06-16T10:03:00.912Z'
                          subscription: '2022-06-16T10:03:00.912Z'
                    lastTimestamp: 1655373953086
                    paginationKey: 1655373953086.DDlfmP
                200-limit-500:
                  summary: Example response with limit=500
                  value:
                    visitorId: AcxioeQKffpXF8iGQK3P
                    visits:
                      - requestId: 1655373780901.HhjRFX
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '102'
                          browserFullVersion: 102.0.5005
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/102.0.5005.61 Safari/537.36
                        incognito: false
                        ip: 188.242.36.107
                        ipLocation:
                          accuracyRadius: 5
                          latitude: 59.8983
                          longitude: 30.2618
                          postalCode: '190924'
                          timezone: Europe/Moscow
                          city:
                            name: St Petersburg
                          country:
                            code: RU
                            name: Russia
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - isoCode: SPE
                              name: St.-Petersburg
                        timestamp: 1655373780912
                        time: '2022-06-16T10:03:00Z'
                        url: https://fingerprint.com/
                        tag: {}
                        confidence:
                          score: 1
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-06-16T05:27:30.578Z'
                          subscription: '2022-06-16T05:27:30.578Z'
                      - requestId: 1655357250568.vqejDF
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '102'
                          browserFullVersion: 102.0.5005
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/102.0.5005.61 Safari/537.36
                        incognito: false
                        ip: 82.118.30.62
                        ipLocation:
                          accuracyRadius: 1000
                          latitude: 50.0805
                          longitude: 14.467
                          postalCode: 130 00
                          timezone: Europe/Prague
                          city:
                            name: Prague
                          country:
                            code: CZ
                            name: Czechia
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - isoCode: '10'
                              name: Hlavni mesto Praha
                        timestamp: 1655357250578
                        time: '2022-06-16T05:27:30Z'
                        url: https://fingerprint.com/
                        tag: {}
                        confidence:
                          score: 0.99
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-06-15T15:28:33.479Z'
                          subscription: '2022-06-15T15:28:33.479Z'
                      - requestId: 1655306913474.kFQsQx
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '102'
                          browserFullVersion: 102.0.5005
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/102.0.5005.61 Safari/537.36
                        incognito: false
                        ip: 82.118.30.68
                        ipLocation:
                          accuracyRadius: 1000
                          latitude: 50.0805
                          longitude: 14.467
                          postalCode: 130 00
                          timezone: Europe/Prague
                          city:
                            name: Prague
                          country:
                            code: CZ
                            name: Czechia
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - isoCode: '10'
                              name: Hlavni mesto Praha
                        timestamp: 1655306913479
                        time: '2022-06-15T15:28:33Z'
                        url: https://fingerprint.com/
                        tag: {}
                        confidence:
                          score: 0.99
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-06-15T08:47:34.677Z'
                          subscription: '2022-06-15T08:47:34.677Z'
                      - requestId: 1655282854672.vz4ZlN
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '102'
                          browserFullVersion: 102.0.5005
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/102.0.5005.61 Safari/537.36
                        incognito: false
                        ip: 82.118.30.91
                        ipLocation:
                          accuracyRadius: 1000
                          latitude: 50.0805
                          longitude: 14.467
                          postalCode: 130 00
                          timezone: Europe/Prague
                          city:
                            name: Prague
                          country:
                            code: CZ
                            name: Czechia
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - isoCode: '10'
                              name: Hlavni mesto Praha
                        timestamp: 1655282854677
                        time: '2022-06-15T08:47:34Z'
                        url: https://fingerprint.com/
                        tag: {}
                        confidence:
                          score: 0.99
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-06-14T14:19:42.753Z'
                          subscription: '2022-06-14T14:19:42.753Z'
                      - requestId: 1655216382743.RDRa4h
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '102'
                          browserFullVersion: 102.0.5005
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/102.0.5005.61 Safari/537.36
                        incognito: false
                        ip: 188.242.36.107
                        ipLocation:
                          accuracyRadius: 5
                          latitude: 59.8983
                          longitude: 30.2618
                          postalCode: '190924'
                          timezone: Europe/Moscow
                          city:
                            name: St Petersburg
                          country:
                            code: RU
                            name: Russia
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - isoCode: SPE
                              name: St.-Petersburg
                        timestamp: 1655216382753
                        time: '2022-06-14T14:19:42Z'
                        url: https://fingerprint.com/
                        tag: {}
                        confidence:
                          score: 1
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-06-13T07:53:19.878Z'
                          subscription: '2022-06-13T07:53:19.878Z'
                      - requestId: 1655106799870.C8m8hR
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '102'
                          browserFullVersion: 102.0.5005
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/102.0.5005.61 Safari/537.36
                        incognito: false
                        ip: 45.86.200.137
                        timestamp: 1655106799878
                        time: '2022-06-13T07:53:19Z'
                        url: https://fingerprint.com/
                        tag: {}
                        confidence:
                          score: 0.99
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-06-07T12:54:35.413Z'
                          subscription: '2022-06-07T12:54:35.413Z'
                      - requestId: 1654606475406.2uXCJx
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '102'
                          browserFullVersion: 102.0.5005
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/102.0.5005.61 Safari/537.36
                        incognito: false
                        ip: 89.38.224.157
                        ipLocation:
                          accuracyRadius: 20
                          latitude: 44.804
                          longitude: 20.4651
                        timestamp: 1654606475413
                        time: '2022-06-07T12:54:35Z'
                        url: https://fingerprintjs.com/
                        tag: {}
                        confidence:
                          score: 0.99
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-06-07T09:37:57.43Z'
                          subscription: '2022-06-07T09:37:57.43Z'
                      - requestId: 1654594677423.pCHmKJ
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '102'
                          browserFullVersion: 102.0.5005
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/102.0.5005.61 Safari/537.36
                        incognito: false
                        ip: 188.242.36.107
                        ipLocation:
                          timezone: Europe/Moscow
                        timestamp: 1654594677430
                        time: '2022-06-07T09:37:57Z'
                        url: https://fingerprintjs.com/
                        tag: {}
                        confidence:
                          score: 0.99
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-06-07T09:37:50.109Z'
                          subscription: '2022-06-07T09:37:50.109Z'
                      - requestId: 1654594670097.Lmodmj
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '102'
                          browserFullVersion: 102.0.5005
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/102.0.5005.61 Safari/537.36
                        incognito: false
                        ip: 188.242.36.107
                        ipLocation:
                          accuracyRadius: 5
                          latitude: 59.8983
                          longitude: 30.2618
                          postalCode: '190924'
                          timezone: Europe/Moscow
                          city:
                            name: St Petersburg
                          country:
                            code: RU
                            name: Russia
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - isoCode: SPE
                              name: St.-Petersburg
                        timestamp: 1654594670109
                        time: '2022-06-07T09:37:50Z'
                        url: https://fingerprintjs.com/
                        tag: {}
                        confidence:
                          score: 0.99
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-06-07T08:31:31.9Z'
                          subscription: '2022-06-07T08:31:31.9Z'
                      - requestId: 1654590691894.aCYqYE
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '102'
                          browserFullVersion: 102.0.5005
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/102.0.5005.61 Safari/537.36
                        incognito: false
                        ip: 188.242.36.107
                        ipLocation:
                          accuracyRadius: 5
                          latitude: 59.8983
                          longitude: 30.2618
                          postalCode: '190924'
                          timezone: Europe/Moscow
                          city:
                            name: St Petersburg
                          country:
                            code: RU
                            name: Russia
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - isoCode: SPE
                              name: St.-Petersburg
                        timestamp: 1654590691900
                        time: '2022-06-07T08:31:31Z'
                        url: https://fingerprintjs.com/
                        tag: {}
                        confidence:
                          score: 0.99
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-06-06T09:05:25.954Z'
                          subscription: '2022-06-06T09:05:25.954Z'
                      - requestId: 1654506325946.ijIwzu
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '102'
                          browserFullVersion: 102.0.5005
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/102.0.5005.61 Safari/537.36
                        incognito: false
                        ip: 89.38.224.165
                        ipLocation:
                          accuracyRadius: 20
                          latitude: 44.804
                          longitude: 20.4651
                          timezone: Europe/Belgrade
                          city:
                            name: Belgrade
                          country:
                            code: RS
                            name: Serbia
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - isoCode: '00'
                              name: Belgrade
                        timestamp: 1654506325954
                        time: '2022-06-06T09:05:25Z'
                        url: https://fingerprintcom.netlify.app/blog/name-change/
                        tag: {}
                        confidence:
                          score: 0.99
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-06-02T16:58:53.635Z'
                          subscription: '2022-06-02T16:58:53.635Z'
                      - requestId: 1654189133629.0V1gtF
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '102'
                          browserFullVersion: 102.0.5005
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/102.0.5005.61 Safari/537.36
                        incognito: false
                        ip: 89.38.224.165
                        ipLocation:
                          accuracyRadius: 20
                          latitude: 44.804
                          longitude: 20.4651
                          timezone: Europe/Belgrade
                          city:
                            name: Belgrade
                          country:
                            code: RS
                            name: Serbia
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - isoCode: '00'
                              name: Belgrade
                        timestamp: 1654189133635
                        time: '2022-06-02T16:58:53Z'
                        url: https://fingerprintcom.netlify.app/blog/name-change/
                        tag: {}
                        confidence:
                          score: 1
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-06-02T16:58:51.483Z'
                          subscription: '2022-06-02T16:58:51.483Z'
                      - requestId: 1654189131472.r49Bbh
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '102'
                          browserFullVersion: 102.0.5005
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/102.0.5005.61 Safari/537.36
                        incognito: false
                        ip: 89.38.224.165
                        ipLocation:
                          accuracyRadius: 20
                          latitude: 44.804
                          longitude: 20.4651
                          timezone: Europe/Belgrade
                          city:
                            name: Belgrade
                          country:
                            code: RS
                            name: Serbia
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - isoCode: '00'
                              name: Belgrade
                        timestamp: 1654189131483
                        time: '2022-06-02T16:58:51Z'
                        url: https://fingerprintcom.netlify.app/
                        tag: {}
                        confidence:
                          score: 0.95
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-05-27T14:52:26.624Z'
                          subscription: '2022-05-27T14:52:26.624Z'
                      - requestId: 1653663146617.o8KpJO
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '101'
                          browserFullVersion: 101.0.4951
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/101.0.4951.64 Safari/537.36
                        incognito: false
                        ip: 89.38.224.165
                        ipLocation:
                          accuracyRadius: 20
                          latitude: 44.804
                          longitude: 20.4651
                          timezone: Europe/Belgrade
                          city:
                            name: Belgrade
                          country:
                            code: RS
                            name: Serbia
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - isoCode: '00'
                              name: Belgrade
                        timestamp: 1653663146624
                        time: '2022-05-27T14:52:26Z'
                        url: https://fingerprintjs.com/
                        tag: {}
                        confidence:
                          score: 1
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-05-20T09:50:06.7Z'
                          subscription: '2022-05-20T09:50:06.7Z'
                      - requestId: 1653040206694.Q5Csig
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '101'
                          browserFullVersion: 101.0.4951
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/101.0.4951.54 Safari/537.36
                        incognito: false
                        ip: 89.38.224.165
                        ipLocation:
                          accuracyRadius: 20
                          latitude: 44.804
                          longitude: 20.4651
                          timezone: Europe/Belgrade
                          city:
                            name: Belgrade
                          country:
                            code: RS
                            name: Serbia
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - isoCode: '00'
                              name: Belgrade
                        timestamp: 1653040206700
                        time: '2022-05-20T09:50:06Z'
                        url: https://fingerprintjs.com/
                        tag: {}
                        confidence:
                          score: 1
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-05-19T16:27:38.029Z'
                          subscription: '2022-05-19T16:27:38.029Z'
                      - requestId: 1652977658020.xbfYhA
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '101'
                          browserFullVersion: 101.0.4951
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/101.0.4951.54 Safari/537.36
                        incognito: false
                        ip: 89.38.224.165
                        ipLocation:
                          accuracyRadius: 20
                          latitude: 44.804
                          longitude: 20.4651
                          timezone: Europe/Belgrade
                          city:
                            name: Belgrade
                          country:
                            code: RS
                            name: Serbia
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - isoCode: '00'
                              name: Belgrade
                        timestamp: 1652977658029
                        time: '2022-05-19T16:27:38Z'
                        url: https://fingerprintjs.com/
                        tag: {}
                        confidence:
                          score: 1
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-05-17T15:09:32.666Z'
                          subscription: '2022-05-17T15:09:32.666Z'
                      - requestId: 1652800172657.xA22Pd
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '101'
                          browserFullVersion: 101.0.4951
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/101.0.4951.54 Safari/537.36
                        incognito: false
                        ip: 89.38.224.165
                        ipLocation:
                          accuracyRadius: 20
                          latitude: 44.804
                          longitude: 20.4651
                          timezone: Europe/Belgrade
                          city:
                            name: Belgrade
                          country:
                            code: RS
                            name: Serbia
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - isoCode: '00'
                              name: Belgrade
                        timestamp: 1652800172666
                        time: '2022-05-17T15:09:32Z'
                        url: https://fingerprintjs.com/
                        tag: {}
                        confidence:
                          score: 1
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-05-17T14:18:17.631Z'
                          subscription: '2022-05-17T14:18:17.631Z'
                      - requestId: 1652797097626.faAMJO
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '101'
                          browserFullVersion: 101.0.4951
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/101.0.4951.54 Safari/537.36
                        incognito: false
                        ip: 89.38.224.165
                        ipLocation:
                          accuracyRadius: 20
                          latitude: 44.804
                          longitude: 20.4651
                          timezone: Europe/Belgrade
                          city:
                            name: Belgrade
                          country:
                            code: RS
                            name: Serbia
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - isoCode: '00'
                              name: Belgrade
                        timestamp: 1652797097631
                        time: '2022-05-17T14:18:17Z'
                        url: https://fingerprintjs.com/careers/
                        tag: {}
                        confidence:
                          score: 1
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-05-17T10:16:04.809Z'
                          subscription: '2022-05-17T10:16:04.809Z'
                      - requestId: 1652782564800.MWH0GO
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '101'
                          browserFullVersion: 101.0.4951
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/101.0.4951.54 Safari/537.36
                        incognito: false
                        ip: 89.38.224.165
                        ipLocation:
                          accuracyRadius: 20
                          latitude: 44.804
                          longitude: 20.4651
                          timezone: Europe/Belgrade
                          city:
                            name: Belgrade
                          country:
                            code: RS
                            name: Serbia
                          continent:
                            code: EU
                            name: Europe
                          subdivisions:
                            - isoCode: '00'
                              name: Belgrade
                        timestamp: 1652782564809
                        time: '2022-05-17T10:16:04Z'
                        url: https://fingerprintjs.com/
                        tag: {}
                        confidence:
                          score: 1
                        visitorFound: true
                        firstSeenAt:
                          global: '2022-02-04T11:31:20Z'
                          subscription: '2022-02-04T11:31:20Z'
                        lastSeenAt:
                          global: '2022-05-16T06:47:01.511Z'
                          subscription: '2022-05-16T06:47:01.511Z'
                      - requestId: 1652683621505.1tOjuc
                        browserDetails:
                          browserName: Chrome
                          browserMajorVersion: '101'
                          browserFullVersion: 101.0.4951
                          os: Mac OS X
                          osVersion: 10.15.7
                          device: Other
                          userAgent: >-
                            Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
                            AppleWebKit/537.36 (KHTML, like Gecko)
                            Chrome/101.0.4951.54 Safari/537.36
                        incognito: false
                        ip: 217.150.54.233
                        ipLocation:
                          accuracyRadius: 1000
                          latitude: 59.8983
                          longitude: 30.2618
                          postalCode: '190924'
                          timezone: Europe/Moscow
                          city:
                            name: St Petersburg
                          country:
                            code: RU
                            name: Russia
                          continent:
                            code: EU
[...]
