# Reference on this file: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions
name: Validate
on:
  workflow_dispatch:
  schedule:
    - cron:  '0 5 * * *'
jobs:
  validate:
    runs-on: ubuntu-latest
    environment: test
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: ./.github/actions/test-and-build
        with:
          visitorId: '${{ secrets.VISITOR_ID }}'
          privateKey: '${{ secrets.PRIVATE_KEY }}'
          requestId: '${{ secrets.REQUEST_ID }}'
